name: CICD Assignment

on:
  push:
    branches:
      - 'release/v[1-9]+.[0-9]+'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    if: StartsWith(github.event.head_commit.message, "#NORUN") != true

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      
      - name: Install Railway
        run: npm install -g @railway/cli

      - name: Deploy to Railway
        run: railway up
        env:
          RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
      
      - name: Send notification to Slack
        id: slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          payload: |
            {
            "blocks": [
              {
                "type": "header",
                "text": {
                  "type": "plain_text",
                  "text": "CICD TEST",
                  "emoji": true
                }
              },
              {
                "type": "section",
                "fields": [
                  {
                    "type": "mrkdwn",
                    "text": "Name: HLA YAMIN AYE"
                  },
                  {
                    "type": "mrkdwn",
                    "text": "Email: e1112931@u.nus.edu"
                  },
                  {
                    "type": "mrkdwn",
                    "text": "Matriculation: A0269548J"
                  },
                  {
                    "type": "mrkdwn",
                    "text": "Repository:\n ${{ github.server_url }}/${{github.repository}}"
                  }
                ]
              },
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": "${{ secrets.RAILWAY_URL }}"
                },
                "accessory": {
                  "type": "button",
                  "text": {
                    "type": "plain_text",
                    "text": "Go",
                    "emoji": true
                  },
                  "url": "${{ secrets.RAILWAY_URL }}"
                }
              }
            ]
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          SLACK_WEBHOOK_TYPE: INCOMING_WEBHOOK


      

